/*** TAG ***/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

main {
    background-color: wheat;
}

/*** ID ***/

#logo {
    width: 50px;
    vertical-align: bottom;
}

/*** CLASS ***/

/* logo */

.title_logo {
    display: inline-block;
    font-size: 40px;
    line-height: 50px;    
}

.logo_container {
    padding: 10px 0 10px 20px;
}

.main_container {
    width: 920px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* inizio sezione add */

.add_container {
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 2px solid wheat;
}

.add1 {
    padding: 20px 10px 10px 40px;
    display: inline-block;
}

.add2 {
    padding: 20px 0 10px;
    display: inline-block;
}

.bottom_add1_style {
    background-color: blue;
}

.bottom_add2_style {
    border: 2px solid grey;
    border-radius: 5px;
}

.bottom_add {
    height: 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    border-radius: 5px;
}

.text_add {
    font-weight: bold;
    padding: 5px;
}

.style_text_add1 {
    color: white;
}

.style_text_add2 {
    color: grey;
}

/* fine sezione add */

.list_container {
    background-color:white;
    padding-top: 40px;
    padding-left: 40px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.list_section {
    margin-bottom: 40px;
    padding-bottom: 30px;
}

.title_section {
    font-size: 20px;
}

.normal_text {
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
}

/* inizio caratteri speciali con diversi colori */

.special_character {
    color: white;
    font-size: 15px;
    padding: 7px 12px;
    border-radius: 15px;
}

.color_special_blu {
    background-color: blue;
}

.color_special_violet {
    background-color: violet;
}

.color_special_green {
    background-color: green;
}

.color_special_orange {
    background-color: orange;
}

.color_special_brown {
    background-color: brown;
}

.color_special_yellow {
    background-color: rgb(192, 192, 0);
}

/* fine caratteri speciali */