/*** TAG ***/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    margin-top: 10px;
    margin-left: 20px;
}

main {
    background-color: wheat;
}

/*** ID ***/

#logo {
    width: 50px;
    vertical-align: bottom;
}

/*** CLASS ***/

.title_logo {
    display: inline-block;
    font-size: 40px;
    line-height: 50px;    
}

.main_container {
    width: 920px;
    margin: auto;
    padding-top: 30px;
}

/* inizio sezione add */

.add_container {
    /* width: 100%; */
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 2px solid wheat;
}

.add1 {
    padding: 20px 10px 10px 40px;
    display: inline-block;
}

.add2 {
    padding: 20px 0 10px;
    display: inline-block;
}

.bottom_add1_style {
    background-color: blue;
}

.bottom_add2_style {
    border: 2px solid grey;
    border-radius: 5px;
}

.bottom_add {
    height: 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    border-radius: 5px;
}

.text_add {
    font-weight: bold;
    padding: 5px;
}

.style_text_add1 {
    color: white;
}

.style_text_add2 {
    color: grey;
}

/* fine sezione add */

.list_container {
    /* background-color: red;
    height: 200px; */
}